.WorkoutLogger {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 20px 0px;
  box-sizing: border-box;
}

.WorkoutLogger h1 {
  margin: 0px;
  margin-bottom: 5px;
}

.WorkoutLogger form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 10px;
}

.WorkoutLogger form input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.SideBySide {
  display: flex;
  flex-flow: row;
  align-items: left;
}

.SideBySide * {
  margin: 5px;
}

.Right {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 10px;
}

.Image {
  max-width: 150px;
  max-height: 150px;
  background-color: white;
}
