.LogItem {
  height: 25%;
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  overflow: hidden;
  background-color: #86bfa5;
}

.LogItem h3 {
  text-align: center;
  margin: 2px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 2px;
  overflow: hidden;
}

.Inner {
  height: 100%;
  margin: 0px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.Left {
  text-align: left;
  align-self: stretch;
}

.Left p {
  margin: 10px;
}

.Right {
  height: 100%;
}

.Right img {
  height: 100%;
  max-height: 200px;
}
