.Dropdown {
  position: relative;
  display: inline-block;
  z-index: 500;
}

.MenuIcon {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.MenuIcon div {
  width: 90%;
  height: 3px;
  background-color: black;
  margin: 2px;
}

.Links {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  top: 30px;
  box-sizing: border-box;
  border: 2px solid black;
  border-top: none;
  transition: all 0.3s ease-out;
  padding: 12px 16px;
  z-index: 1;
  list-style-type: none;
}

.Link {
  color: #D18C35;
  text-decoration: none;
}

.Link:active,
.Link.active,
.Link:hover {
  color: black;
  text-decoration: underline;
}
