.Dropdown {
  position: relative;
  display: inline-block;
}

.MenuIcon {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.MenuIcon div {
  width: 90%;
  height: 3px;
  background-color: white;
  margin: 2px;
}

.Links {
  display: block;
  position: absolute;
  background-color: #ccc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  list-style-type: none;
}
